<div id="container">  
<ul>
<li> <a routerLink="/">HOME</a></li>
<li> <a href="#">Customers</a>
    <ul>
        <li><a routerLink="khach-hang-1">Customer 1</a></li>
        <li><a routerLink="khach-hang-2">Customer 2</a></li>
        <li><a routerLink="khach-hang-3">Customer 3</a></li>
        <li><a routerLink="khach-hang-detail">Customer Detail</a></li>
        <li><a routerLink="customer">Customer Service</a></li>
        <li><a routerLink="list-customer-service">List Customer Service</a></li>
        <li><a routerLink="list-customer-http">List Customer HTTP</a></li>
    </ul>
</li>
<li> <a href="#">Products</a>
    <ul>
     <li> <a routerLink="san-pham-1">Product 1</a></li>
     <li> <a routerLink="san-pham-2">Product 2</a></li>
     <li> <a routerLink="san-pham-3">Product 3</a></li>
     <li> <a routerLink="san-pham-4">Product 4</a></li>
 </ul>
</li>
<li> <a href="#">FORMS</a>
 <ul>
     <li> <a routerLink="form">FORM</a></li>
     <li> <a routerLink="reactive-form">REACTIVE FORM</a></li>     
 </ul>
</li>
<li> <a href="#">EXTERNAL API</a>
 <ul>
     <li> <a routerLink="ex26">Ex 26</a></li>
     <li> <a routerLink="ex27">Ex 27</a></li>  
     <li> <a routerLink="ex28">Ex 28 - Bitcoin</a></li>
     <li> <a routerLink="fake-product">Fake Product API</a></li>   
 </ul>
</li>

<li> <a href="#">INTERNAL API</a>
 <ul>
     <li> <a routerLink="ex39">Ex 39 - Books List</a></li>
     <li> <a routerLink="ex41">Ex 41 - Book Detail</a></li> 
     <li> <a routerLink="ex43">Ex 43 - New Book</a></li>     
 </ul>
</li>

<li> <a href="#">LEARNING</a>
 <ul>
     <li> <a routerLink="learn-binding">Learn Binding</a></li>
     <li> <a routerLink="learn-directive">Learn Directive</a></li>
     <li> <a routerLink="learn-directive-2">Learn Directive 2</a></li>
     <li> <a routerLink="mybinding">My Binding</a></li>
     <li> <a routerLink="ptb1">Phương trình bậc 1</a></li>
     <li> <a routerLink="ptb2">Phương trình bậc 2</a></li>
     <li> <a routerLink="gpa">GPA Calculator</a></li>
 </ul>
</li>

<li> <a href="#">EXERCISES</a>
 <ul>
     <li> <a routerLink="ex10">Ex 10 - Lunar Calendar</a></li>
     <li> <a routerLink="ex13">Ex 13 - Product Image Event</a></li>
     <li> <a routerLink="ex14">Ex 14 - Catalog Service</a></li>
     <li> <a routerLink="ex15">Ex 15</a></li>
     <li> <a routerLink="ex18">Ex 18</a></li>
     <li> <a routerLink="ex19">Ex 19</a></li>
     <li> <a routerLink="ex50">Ex 50 - Books CRUD</a></li>
 </ul>
</li>

<li> <a href="#">UTILITIES</a>
 <ul>
     <li> <a routerLink="catalog">Catalog</a></li>
     <li> <a routerLink="file-upload">File Upload</a></li>
     <li> <a routerLink="payment">MoMo Payment</a></li>
 </ul>
</li>

<li> <a routerLink="lien-he">Contact</a></li>
<li> <a routerLink="gioi-thieu">About</a></li>

</ul>

</div>

<router-outlet></router-outlet>
